build
.log
*.iml
*.mvn
*.ipr
*.iws
.DS_Store
.idea
build
out
/classes/
.classpath
.project
.settings
*.jar
bin
bin/
target
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
